<header class="k-header">
  <nav class="k-header__nav" aria-label="Основное меню">
    <a href="../kadema-digital/" class="k-logo" aria-label="Kadema Digital">{{logo}}</a>
    <div class="k-header__links">
      <a href="#"{{cur_services}}>Услуги</a>
      <a href="#">О компании</a>
      <a href="#">Кейсы</a>
      <a href="#">Блог</a>
      <a href="#">Контакты</a>
    </div>
    <button class="k-burger" type="button" aria-label="Меню" aria-expanded="false" aria-controls="k-menu"><i></i><i></i></button>
  </nav>
  <div class="k-header__cta">
    <a href="#" data-k-modal>Обратный звонок</a>
    <a href="#" class="k-btn k-btn--black" data-k-modal>Обсудить проект</a>
  </div>
</header>
<nav class="k-menu" id="k-menu" hidden aria-label="Меню">
  <a href="#">Услуги</a><a href="#">О компании</a><a href="#">Кейсы</a><a href="#">Блог</a><a href="#">Контакты</a>
  <a href="#" class="k-btn k-btn--pink k-btn--lg" data-k-modal>Обсудить проект</a>
</nav>
